<venda_block label=78,invtref!=giftcert>
<li>
<div class="image">
	<venda_block label=4,med-<venda_setting type=ebiz,name=setrelatedprodimagekey>=notnull>
	<a href="<venda_dispview invt=<venda_invtref>>&bklist=<venda_bklist>"><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setrelatedprodimagekey>,border=0></a>
	</venda_block label=4>
	<venda_block label=5,med-<venda_setting type=ebiz,name=setrelatedprodimagekey>=null>
	<a href="<venda_dispview invt=<venda_invtref>>&bklist=<venda_bklist>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setrelatedprodimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></a>
	</venda_block label=5>
</div>
</li>
</venda_block label=78>

<venda_block label=79,invtref=giftcert>
<li>
	<div class="image">
	<venda_block label=412,med-<venda_setting type=ebiz,name=setrelatedprodimagekey>=notnull>
	<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setrelatedprodimagekey>,border=0></a>
	</venda_block label=412>
	<venda_block label=422,med-<venda_setting type=ebiz,name=setrelatedprodimagekey>=null>
	<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setrelatedprodimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></a>
	</venda_block label=422>
	</div>
</li>
</venda_block label=79>