<venda_block label=78,invtref!=giftcert>
<li>
	<div class="image">
		<a href="<venda_dispview invt=<venda_invtref>>&bklist=<venda_bklist>"><venda_inctemplate name=Scene7completelook,type=includes/Scene7></a>
	</div>
</li>
</venda_block label=78>

<venda_block label=79,invtref=giftcert>
<li>
	<div class="image">
	<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_inctemplate name=Scene7completelook,type=includes/Scene7></a>
	</div>
</li>
</venda_block label=79>