<venda_tpcomment><!-- This template is used by product detail when the product has attributes, it cycles through and stores the image paths to the various attribute 1 association values (e.g. xsmall,medium,large image path for Red Shirt) --></venda_tpcomment>

<venda_detblock_mediagridrow>
	<venda_detail_mediagridcell>
</venda_detblock_mediagridrow>


<venda_detblock_mediagridcell>
        <venda_block label=1,emptycell!=1,medatrvalue!=>
		attributeSwatchImage.push({attr:"<venda_medatrvalue>",imageURL:"<venda_media rec=invt,type=pict,key=setswatch,medatr=yes,img=no>"});
		</venda_block label=1>
</venda_detblock_mediagridcell>

<script type="text/javascript">
var attributeSwatchImage = new Array();
<venda_detail_mediagridrow>
</script>