<venda_tpcomment> 
<!--
- Development required  to add venda_ischeckbox tag  so  checkbox values can be displayed either graphically or as yes/no . At the moment we cannot tell if the value came from a textfield (e.g. X number of CPU's) or checkbox. (e.g. 1 = true, the product has this functionality ) 
- The pdxts set to sequence 0 are used as headings for the group that they are a part of.
- If the sequence hasn't been set, the pdxt list won't be displayed as alternate colour lines. 
- For the pdxt which the field is multi-value text, we cannot seperate each values with any signs because there is no tag <venda_itemcount> for checking which value is the first. 
- multivalue field names will not show if there is no value entered, this is inconsistent with the text field.
-->
</venda_tpcomment>

<venda_detblock1>

<venda_block label=101,ismultivalue=notnull>

<venda_detblock_extvalue>
<li class="background:url(../images/bg_divider.gif) no-repeat top left;padding-top:8px;">
<venda_inventory ref=<venda_exvalue>,temp=productsetproductdetail>
</li>
</venda_detblock_extvalue>

<venda_detail_extvalue>

</venda_block label=101>
</venda_detblock1>

<script type="text/javascript">
//global variable for product manager
var productManager = new MultiProductDetailManager(); 
</script>

<ul class="productset-productitems-list">
<venda_detail1>
</ul>
